table {
    width:80vh;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    border: 5px skyblue solid;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

/*.form-container {*/
/*  background-color: white;*/
/*  padding: 20px;*/
/*  border-radius: 10px;*/
/*  max-width: 100%;*/
/*  width: 100%;*/
/*}*/
