<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon >menu</mat-icon>
    </button>
    <span>Projet Libre</span>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/login'"> Account </a>
      <a mat-button [routerLink]="'/virtual-machines'"> My Virtual Machines </a>
      <mat-dialog-actions><a mat-button (click)="opendialog()"><mat-icon>add</mat-icon> Create Server </a></mat-dialog-actions>
      <a mat-button [routerLink]="'/create-contact'"> Serveur mail </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>