<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon >menu</mat-icon>
    </button>
    <h1>Projet Libre</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/login'"> Account </a>
      <a mat-button [routerLink]="'/virtual-machines'"> My Virtual Machines </a>
      <a mat-button [routerLink]="'/'"> Create Server </a>
      <a mat-button [routerLink]="'/create-contact'"> Serveur mail </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>