
.actions {
  display: flex;
  justify-content: space-between;
}

mat-form-field{
  display: block;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}
